<!DOCTYPE html>
<html>
   <head>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
      <script>
         var socket  = io('http://' + document.domain + ':' + location.port + '/chat');

         socket.on('connect', function() {
               socket.emit('web_client_connected', {'connected': true});
               console.log('Connected to WebSocket server');
         });

         socket.on('message_broadcast', function(data) {
               console.log('Response received from server');
               let messageBag = JSON.parse(data);
               let chatroom = document.getElementById('chatroom');
               chatroom.value += `${messageBag.sender} on ${messageBag.timestamp}:\n${messageBag.message}\n\n`;
         });

         socket.on('feedback_broadcast', function(data) {
               console.log('Feedback received from server');
               let feedbackBag = JSON.parse(data);
               let chatroom = document.getElementById('chatroom');
               chatroom.value += `Feedback from ${feedbackBag.sender} on ${feedbackBag.timestamp}:\n${feedbackBag.message}\n\n`;
         });

         function send() {
               let username = document.getElementById('username').value;
               let message = document.getElementById('message').value;
               let data = {
                  sender: username,
                  message: message,
               };
               socket.emit('message_sent', data);
               document.getElementById('message').value = '';
               console.log('Client sent data to WebSocket server: ', data);
         }
      </script>
      <title>Lumière Feedback</title>
   </head>
   <body>
      <h1>Feedback from Lumière App</h1>
      <form>
         <table border="1">
               <tr>
                  <th>Feedback List</th>
                  <td><textarea id="chatroom" name="chatroom" readonly cols="80" rows="20"></textarea></td>
               </tr>
         </table>
      </form>
   </body>
</html>
